
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <button id="btnGetCategories">Get Categories</button>
    <button id="btnGetCategories">Get Category</button>
    <button id="btnAddCategory">Add Category</button>
    <button id="btnUpdateCategory">Update Category</button>
    <button id="btnDeleteCategory">Delete Category</button>
    <br /><br />

    <input  name="Text" type="Text" placeholder="Category ID" />
    <input name="txtDescripcion" type="Text" placeholder="Category Description" />

    <br /><br />

    <div id="lblMessage"></div>
}

@section Scripts{

    <script type="text/javascript">

        $(function () {

            $('#btnGetCategories').on("click", function () {

                $.ajax({
                    type: 'GET',
                    url: '/api/CategoriesAPI',
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data){
                    var outPut = '';

                    for (var i = 0; i < data.length; i++){

                        outPut += '<hr/><br/>';
                        outPut += '<b>Category ID:</b>' + data[i].CategoryID + '<br/>';
                        outPut += '<b>Description:</b>' + data[i].Description + '<br/>';
                        
                    }

                    $('#lblMessage').html(outPut);
                })
                .error(function (hxr, ajaxOptions, thrownError) {
                    $('#lblMessage').html('An error has accurred tring loading categories');
                });

                return false;

            });
        });

        $(document).ajaxStart(function () {
            $('#loading').show();
        });

        $(document).ajaxStop(function () {
            $('#loading').hide();
        });


    </script>    
}

<style type="text/css">
    #loading {
        display: none;
        background-color: gray;
        z-index: 999999;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 300px;
        filter: alpha(opacity=75);
        -khtml-opacity: 0.75;
        -moz-opacity: 075;
        opacity: 0.75;
    }
</style>

<div id="loading"><img src="~/images/loader.gif"/></div>