
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <button id="btnGetCategories">Get Categories</button>
    <button id="btnGetCategory">Get Category</button>
    <button id="btnAddCategory">Add Category</button>
    <button id="btnUpdateCategory">Update Category</button>
    <button id="btnDeleteCategory">Delete Category</button>
    <br /><br />

    <input id="txtCategoryID" type="Text" placeholder="Category ID" />
    <input id="txtDescripcion" type="Text" placeholder="Category Description" />

    <br /><br />

    <div id="lblMessage"></div>
}

@section Scripts{

    <script type="text/javascript">

        $(function () {

            $('#btnGetCategories').on("click", function () {
                $.ajax({
                    type: 'GET',
                    url: '/api/CategoriesAPI',
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data){
                    var outPut = '';

                    for (var i = 0; i < data.length; i++){

                        outPut += '<hr/><br/>';
                        outPut += '<b>Category ID:</b>' + data[i].CategoryID + '<br/>';
                        outPut += '<b>Description:</b>' + data[i].Description + '<br/>';
                        
                    }

                    $('#lblMessage').html(outPut);
                })
                .error(function (hxr, ajaxOptions, thrownError) {
                    $('#lblMessage').html('An error has accurred tring loading categories');
                });

                return false;
            });

            $('#btnGetCategory').on("click", function () {

                var categoryID = $('#txtCategoryID').val();

                if (categoryID == "") {
                    $('#lblMessage').html('You must enter a Category ID');

                    return false;
                }

                $.ajax({
                    type: 'GET',
                    url: '/api/CategoriesAPI/' + categoryID,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {
                        var outPut = '';

                        outPut += '<hr/><br/>';
                        outPut += '<b>Category ID:</b>' + data.CategoryID + '<br/>';
                        outPut += '<b>Description:</b>' + data.Description + '<br/>';

                        $('#lblMessage').html(outPut);
                    } else {
                        $('#lblMessage').html('No records found');
                    }

                })
                .error(function (hxr, ajaxOptions, thrownError) {
                    $('#lblMessage').html('An error has accurred trying to load the categories');
                });


                return false;
            });


            $('#btnAddCategory').on("click", function () {

                var descripcion = $('#txtDescripcion').val();

                if (descripcion == "") {
                    $('#lblMessage').html('You must enter a description');

                    return false;
                }

                var category = { Description: descripcion };

                $.ajax({
                    type: 'POST',
                    url: '/api/CategoriesAPI',
                    data: category,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {

                    var outPut = '';
                    outPut += '<hr/><br/>';
                    outPut = '<h3>Record added</h3>';
                    outPut += '<b>Category ID:</b>' + data.CategoryID + '<br/>';
                    outPut += '<b>Description:</b>' + data.Description + '<br/>';

                    $('#lblMessage').html(outPut);
                 
                })
                .error(function (hxr, ajaxOptions, thrownError) {
                    $('#lblMessage').html('An error has accurred trying to load the categories');
                });


                return false;
            });

            $('#btnUpdateCategory').on("click", function () {

                var categoryID = $('#txtCategoryID').val();

                if (categoryID == "") {
                    $('#lblMessage').html('You must enter a Category ID');
                         
                    return false;
                }

                var descripcion = $('#txtDescripcion').val();

                if (descripcion == "") {
                    $('#lblMessage').html('You must enter a description');

                    return false;
                }
               
                var category = { CategoryID: categoryID, Description: descripcion};

                $.ajax({
                    type: 'PUT',
                    url: '/api/CategoriesAPI/' + categoryID,
                    data: category,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {

                    var outPut = '';
                    outPut += '<hr/><br/>';
                    outPut = '<h3>The record was modified</h3>';
                    
                    $('#lblMessage').html(outPut);

                })
                .error(function (hxr, ajaxOptions, thrownError) {
                    $('#lblMessage').html('An error has accurred trying to load the categories');
                });


                return false;
            });

            $('#btnDeleteCategory').on("click", function () {

                var categoryID = $('#txtCategoryID').val();

                if (categoryID == "") {
                    $('#lblMessage').html('You must enter a Category ID');

                    return false;
                }

                $.ajax({
                    type: 'DELETE',
                    url: '/api/CategoriesAPI/' + categoryID,
                    datatype: 'json',
                    cache: false,
                })
                    .success(function (data) {
                        if (data != null) {
                            var outPut = '';

                            outPut += '<hr/><br/>';
                            outPut += '<h3>Record deleted</h3>';
                            outPut += '<b>Category ID:</b>' + data.CategoryID + '<br/>';
                            outPut += '<b>Description:</b>' + data.Description + '<br/>';

                            $('#lblMessage').html(outPut);
                        } else {
                            $('#lblMessage').html('No records found');
                        }

                    })
                    .error(function (hxr, ajaxOptions, thrownError) {
                        $('#lblMessage').html('An error has accurred trying to load the categories');
                    });


                return false;
            });
        });

        $(document).ajaxStart(function () {
            $('#loading').show();
        });

        $(document).ajaxStop(function () {
            $('#loading').hide();
        });

    </script>    
}

<style type="text/css">
    #loading {
        display: none;
        background-color: lightblue;
        z-index: 999999;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 300px;
        filter: alpha(opacity=75);
        -khtml-opacity: 0.75;
        -moz-opacity: 075;
        opacity: 0.75;
    }
</style>

<div id="loading"><img src="~/images/loader.gif"/></div>