
@{
    ViewBag.Title = "Index";
}

<h2>Ajax Concept</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("txtN", 0)

    <button  id="btnCalculate">Calcular</button><br />
    <div id="lblMessage"></div>
}

@section Scripts{    
    <script type="text/javascript">
        $(function () {
            $("#btnCalculate").on("click", function () {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("JsonFactorial")',
                    data: { n: $('#txtN').val() },
                    datatype: 'json',
                    cache: false
                })
                .success(function (data) {
                    $('#lblMessage').html(data.Factorial);
                })
                .error(function (xhr, ajaxOptionss, thrownError) {
                    $('#lblMessage').html("An error has occurred");    
                });
                return false;
            });

           
        }); // cierra funcion principal.  
    
    </script>
    
}